<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
<appSettings>
  <add key="AcountId" value="AC9c2edad0adc3826822c09b618fbc448b"/>
  <add key="authtoken" value="750a6e898ca04076cd6a7dfc7c3a864d"/>
  <add key="myphoneNumber" value="+19733106560"/>
</appSettings>
</configuration>
